body {
    background-color: tomato;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    border: black 5px solid;
    height: 400px;
    width: 400px;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center {
    border: white 5px solid;
    background-color: teal;
    height: 70px;
    width: 70px;
    margin: 20px 0px;
    display: flex;
}

.center__long {
    border: white 5px dashed;
    width: 250px;
}