body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

div {
  border: 8px white solid;
  height: 250px;
  width: 450px;
}

.main {
  border: none;
}

.line0 {
  height: 70px;
  border: none;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.title {
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  margin: 0px;
}

.line1,
.line2 {
  border: none;
  display: flex;
  margin-bottom: 40px;
}

.tomato {
  background-color: #ff6347;
}

.teal {
  background-color: #008080;
}

.burlywood {
  background-color: #deb887;
}

.thistle {
  background-color: #d7bfd7;
}

.color {
  display: block;
  margin-top: 20px;
  height: 30px;
  padding: 12px 0px;
  background-color: white;
  font-size: 23px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
}

.color2 {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}

.colorbox {
  display: block;
  margin: 15px;
}
